#ul1 {
    list-style-type: square;
}

#ul2 {
    list-style-type: circle;
}

#ul3 {
    list-style-type: disk;
}

#ul4 {
    list-style-type: none;
}

#ul5 {
    list-style-type: none;
    list-style-image: url(http://old.code.mu/exercises/css/rabota-s-otstupami-margin-i-padding-so-svojstvom-float-i-so-spiskami-na-css/5/li.gif);
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#ol2 {
    list-style-type: lower-greek;
}

#ol3 {
    list-style-type: upper-alpha;
}